@model CloudXForum.UI.Models.Forum.ForumTopicModel
@{
    ViewData["Title"] = Model.Forum.Name;
}

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            <span id="results">Topic | @Model.Forum.Name</span>
            @if (User.Identity.IsAuthenticated)
            {
                <span id="headingBtn">
                    <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id" class="btn btn-newPost">Create a topic</a>
                </span>
            }
        </div>
        <div class="sectionDescription">
            <form asp-controller="Forum" asp-action="Search" method="post">
                <div class="searchForm">
                    <input asp-for="SearchQuery" type="text" placeholder="Search..." required class="searchBar" maxlength="40" onfocus="clearThis(this)">
                    <button type="submit" class="btn btn-forumSearch">
                        <i class="material-icons searchBtnRed">search</i>
                    </button>
                </div>
                <input asp-for="Forum.Id" name="id" type="hidden"/>
            </form>
            <div class="forumLogo" style="background-image: url(@Model.Forum.ImageUrl)"></div>
            <p>Welcome to <strong>@Model.Forum.Name</strong>.</p>
            <p>
                Please read the rules before making a topic.
                @if (!User.Identity.IsAuthenticated)
                {
                    <span>You must be a <a asp-area="Identity" asp-page="/Account/Register">registered</a> user, to create a topic.</span>
                }
            </p>
        </div>
    </div>
    
    @if (TempData.ContainsKey("AlertMessage") && TempData.ContainsKey("AlertType"))
    {
        <br />
        <div id="myAlert" class="alert alert-@TempData["AlertType"] alert-dismissible fade show text-center" role="alert">
            @TempData["AlertMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <script>
            // Wait for the page to load
            document.addEventListener('DOMContentLoaded', function () {
                // Close the alert after 5 seconds
                setTimeout(function () {
                    var myAlert = document.getElementById('myAlert');
                    if (myAlert) {
                        myAlert.classList.add('fade'); // Add the 'fade' class for a smooth transition
                        myAlert.style.display = 'none'; // Hide the alert
                    }
                }, 5000);
            });
        </script>
    }
    <div class="row" id="forumIndexContent">
        @if (Model.Posts.Any())
        {
            <table class="table table-hover table-bordered" id="forumIndexTable">
                <tbody>
                @foreach (var post in Model.Posts)
                {
                    <tr>
                        <td>
                            <div class="postData">
                                <div class="postTitle">
                                    <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a>
                                    @if (post.IsPostArchived)
                                    {
                                        <span class="lockIcon material-icons">
                                            lock
                                        </span>
                                    }
                                </div>
                                <div class="forumSubTitle">
                                    <div>
                                        <span class="postAuthor">
                                            <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">
                                                @post.Author 
                                            </a>
                                        </span>
                                            @* (@post.AuthorRating) *@
                                            (@post.AuthorLevel) ~  
                                        <span class="postDate">
                                            @post.DatePosted
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="forumPostCount">
                                    @post.RepliesCount answers
                            </div>
                        </td>
                        <td class="tdDisplayNone">
                            <div class="postDate">@post.DatePosted</div>
                        </td>
                            @if (User.Identity.IsAuthenticated && !post.IsPostArchived)
                            {
                        <td class="tdDisplayNone">
                                <div class="row" id="postSubscriptionRow">
                                    @if (!post.IsUserSubscribed)
                                    {
                                            <a asp-controller="Forum" asp-action="Subscribe" asp-route-id="@post.Id">
                                                <span class="material-icons" style="font-size:32px;color:#6bc172">
                                                    notifications
                                                </span>
                                            </a>
                                    }
                                    else
                                    {
                                            <a asp-controller="Forum" asp-action="Unsubscribe" asp-route-id="@post.Id">
                                                <span class="material-icons" style="font-size:32px;color:#e42313">
                                                    notifications_off
                                                </span>
                                            </a>
                                    }
                                </div>
                        </td>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                        <td class="tdDisplayNone">
                               
                                    <div class="btn-delete">
                                        <a asp-controller="Forum" asp-action="Delete" asp-route-id="@post.Id">
                                            <span class="material-icons deleteButtonRed">
                                                delete
                                            </span>
                                        </a>
                                    </div>
                        </td>
                            }
                    </tr>
                }
                </tbody>
            </table>
        }
        else if (Model.EmptySearchResults)
        {
            <div class="noPosts">
                <h3>
                    No results found for your query "@Model.SearchQuery"<br />
                    Why not <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id"><span>create one</span>?</a>
                </h3>
            </div>
        }
        else
        {
            <div class="noPosts">
                <h3>
                    Looks like there are no topics in this section @Model.Forum.Name.<br />
                    Why not <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id"><span>create one</span>?</a>
                </h3>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
   function clearThis(target) {
   	target.value = "";
   }      
</script>
}