@model CloudXForum.WebApi.Models.Forum.ForumIndexModel
@{
    ViewData["Title"] = "Categories";
}

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            <span id="results">Categories</span>
            @if (User.IsInRole("Admin"))
            {
                <span id="headingBtn">
                    <a asp-controller="Forum" asp-action="Create" class="btn btn-newPost">Create a category</a>
                </span>
            }
        </div>
        <div class="sectionDescription">
            <p>Welcome to <strong>CloudX</strong>. Topics are classified into separate categories based on interest</p>
            <p>
                Please read the rules before making a topic.
                @if (!User.Identity.IsAuthenticated)
                {
                    <span>You must be a <a asp-area="Identity" asp-page="/Account/Register">registered</a> user to create a topic.</span>
                }
            </p>
        </div>
    </div>
    <div class="row" id="forumIndexContent">
        <table class="table table-hover table-bordered" id="forumIndexTable">
            <tbody>
            @foreach (var forum in Model.ForumList)
            {
                <tr>
                    <td>
                        <div class="forumLogo" style="background-image: url(@forum.ImageUrl)"></div>
                        <div class="forumData">
                            <div class="forumTitle">
                                <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">@forum.Name</a>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a asp-controller="Forum" asp-action="Edit" asp-route-id="@forum.Id">
                                        <span class="material-icons editIcon editForum">
                                            edit
                                        </span>
                                    </a>
                                }
                            </div>
                            <div class="forumSubTitle">
                                @if (forum.HasRecentPosts)
                                {
                                    <div class="hasRecentPost">Recent</div>
                                }
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="forumPostCount">
                            @forum.NumberOfPosts Posts
                        </div>
                        <div class="forumMemberCount">
                            @forum.NumberOfUsers Users
                        </div>
                    </td>
                    <td class="tdDisplayNone">
                        <div class="forumDescription">
                            @forum.Description
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>